<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>
<body>
  <div class="container">
  <menu th:replace="layout :: menu(title='Edit status')"></menu>
    <form action="#" th:action="@{/bug/editStatus}" th:object="${status}" method="post" >
        <input type="hidden" name="bug_id" th:field="${bug.id}">
        <select>
            <option value="${status1}"></option>
            <option value="${status2}"></option>
            <option value="${status3}"></option>

        </select>
      <button type="submit" class="btn btn-primary">Save</button>      
    </form>    
  </div>
</body>
</html>