<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>
<body>
  <div class="container">
    <menu th:replace="layout :: menu(title='Edit Bug')"></menu>
    <form action="#" th:action="@{/bug}" th:object="${bug}" method="post" enctype="multipart/form-data" >
      <input type="hidden" th:field="*{id}"/>
      <input type="hidden" th:field="*{user_id}"/>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Title of your Bug">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title Error></p>
      </div>   
      <div class="mb-3 mt-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" th:field="*{content}" id="content" rows="10" cols="70"></textarea>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content Error></p>
      </div>

     <div>
        <select th:field="*{status}">
          <option th:value="ESCALATED" th:text="${status1}"></option>
          <option th:value="FIXED" th:text="${status2}"></option>
          <option th:value="NOT_FIX" th:text="${status3}"></option>
        </select>
    </div>

    <!-- file -->
    <input type="file" name="file" /><br/><br/>
    <input type="file" name="file1" /><br/><br/>
    <input type="file" name="file2" /><br/><br/>
      

      <button type="submit" class="btn btn-primary">Save</button>      
    </form>    
  </div>
</body>
</html>